/* Mobile Devices */
@media only screen and (min-width: 320px) and (max-width: 900px) { 
.container{
    padding: 0px 20px;
}

.headerWrapper .navbar{
    justify-content: flex-end;
    text-align: right;
    position: absolute;
    top: 14px;
    right: 20px
}
.headerWrapper .navbar-collapse{
    background: white;
    z-index: 1;
    width: 150px;
    top: 9px;
    position: relative;
}
.headerWrapper .navbar li{
    float: right;
    width: 250px;
    padding: 10px 0;
}
.headerWrapper .logoSpace img{
    width: 160px;
}
footer .row > div:nth-child(1), footer .row > div:nth-child(6){
    text-align: center;
}
footer .row > div:nth-child(2), footer .row > div:nth-child(3), footer .row > div:nth-child(4), footer .row > div:nth-child(5){
    padding: 0px;
    margin: 15px 0;
}
.bannerWrapper > div:nth-child(2) h1{
    font-size: 43px;
    margin-top: 30px;
}
.bannerWrapper > div:nth-child(2) h1 span{
    font-size: 22px;
    margin-top: 7px;
}
.bannerWrapper > div:nth-child(2) span{
    font-size: 12px;
    margin-top: 0px;
    text-indent: 0px;
}
.bannerWrapper{
    height: 215px;
}
.aboutWrapper h2, .serviceWrapper h2, .contactWrapper h2, .assetWrapper h2{
    font-size: 24px;
}
.aboutWrapper p, .nriWrapper p, .hniWrapper p, .reaWrapper p, .insuranceWrapper p, .debitWrapper p, .equityWrapper p, .assetWrapper p{
    font-size: 14px !important;
}
.aboutWrapper img{
    width: 100%;
}
.aboutWrapper .directorsGroup{
    margin-bottom: 20px;
}
.aboutWrapper h3{
    font-size: 20px;
}
.aboutWrapper .directorsGroup{
    width: 50%;
}
.aboutWrapper .directorsGroup h4{
    font-size: 16px;
}
.serviceWrapper .serviceBox{
    height: auto;
    text-align: center;
}
.serviceWrapper .serviceBox h3{
    font-size: 16px;
}
.serviceWrapper .serviceBox .linkMore{
    font-size: 12px;
    padding: 8px 10px;
}
.assetWrapper nav .assetGroup li{
    font-size: 16px;
    flex-basis: 100%;
    padding-left: 20px;
}
.assetWrapper{
    height: auto;
}
.contactWrapper .row div:nth-child(2){
    margin-top: 20px;
}
.bannerWrapperMF, .bannerWrapperRea, .bannerWrapperHNI, .bannerWrapperNRI, .bannerWrapperInsurance, .bannerWrapperEquity, .bannerWrapperDebit{
    height: 200px;
    background-size: cover;
}
.subHeader{
    font-size: 26px;
    height: 70px;
}
}